<html>
  <head>
    <title>IronBeer</title>
    <link rel="stylesheet" href="./stylesheets/styles.css">
  </head>
<nav>
  <ul>
    <li><a href="/"> Home </a></li>
    <li><a href="/beers"> Beers </a></li>
    <li><a href="/random-beer"> Random Beer </a></li>
  </ul>
</nav>
<body>
   {{{ body }}}
</body>
<footer>
  <p>Devolop by Ironhack ;)</p>
</footer>
</html>